:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #ebd8ff;
  --bg-tweet: #5736a3;
}

body {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  display: block;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
